:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--stone-100);
    display: flex;
    justify-content: center;
    padding: 120px 20px;
}

.recipe-container {
    background-color: var(--white);
    max-width: 736px;
    border-radius: 24px;
    padding: 40px;
}


.recipe-header img {
    width: 100%;
    border-radius: 12px;
    display: block;
    margin-bottom: 40px;
}


h1 {
    font-family: 'Young Serif', serif;
    color: var(--stone-900);
    font-size: 40px;
    margin-bottom: 24px;
}

.description {
    color: var(--stone-600);
    line-height: 1.5;
    margin-bottom: 32px;
}

h2 {
    font-family: 'Young Serif', serif;
    color: var(--brown-800);
    margin-bottom: 24px;
}


.prep-card {
    background-color: var(--rose-50);
    padding: 28px;
    border-radius: 12px;
    margin-bottom: 32px;
}

.prep-card h3 {
    color: var(--rose-800);
    font-size: 20px;
    margin-bottom: 16px;
}

.prep-card ul, .section ul, .section ol {
    margin-left: 20px;
}

.prep-card li, .section li {
    padding-left: 16px;
    margin-bottom: 12px;
    color: var(--stone-600);
}

.prep-card li::marker { color: var(--rose-800); }
.section ul li::marker { color: var(--brown-800); }
.section ol li::marker { 
    color: var(--brown-800); 
    font-weight: bold;
}


hr {
    border: 0;
    border-top: 1px solid var(--stone-150);
    margin: 32px 0;
}


.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;
}

.nutrition-table td {
    padding: 12px 32px;
    border-bottom: 1px solid var(--stone-150);
    color: var(--stone-600);
}

.nutrition-table tr:last-child td {
    border-bottom: none;
}

.stat {
    color: var(--brown-800);
    font-weight: 700;
}


@media (max-width: 600px) {
    body { padding: 0; }
    .recipe-container { border-radius: 0; padding: 0 0 40px 0; }
    .recipe-header img { border-radius: 0; margin-bottom: 32px; }
    .recipe-content { padding: 0 32px; }
    h1 { font-size: 32px; }
}