:root {
    --purple: #7651dc;
    --yellow: #ffcc5a;
    --light-yellow: #f9eee1;
    --white: #ffffff;
    --black: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.bento-grid {
    display: grid;
    max-width: 1100px;
    gap: 25px;
   
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
}


.card {
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}



.create-post {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: var(--light-yellow);
}

.hero-ai {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    justify-content: center;
}

.schedule-chart {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: #dacffc;
}

.write-ai {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: var(--yellow);
}

.accounts {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.posting-schedule {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: var(--yellow);
}

.growth {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.follower-stats {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    background-color: var(--purple);
    color: var(--white);
    flex-direction: row;
    align-items: center;
    gap: 20px;
}



h1, h2, h3 { line-height: 1.1; margin-bottom: 15px; }

span { color: var(--yellow); }

.hero-ai h1 { font-size: 3rem; }
.hero-ai span { color: var(--yellow); }

.btn-create {
    background-color: var(--yellow);
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.stars { color: var(--yellow); font-size: 1.5rem; margin-bottom: 10px; }

.bars {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    height: 100px;
    margin: 20px 0;
}
.bar { width: 15px; background-color: var(--purple); opacity: 0.3; border-radius: 5px; }
.bar.active { opacity: 1; }

@media (max-width: 900px) {
    .bento-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .card {
        grid-column: auto !important;
        grid-row: auto !important;
    }
}