body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e28418; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    background-color: rgb(255, 255, 255);
    width: 350px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(229, 240, 229, 0.1);
    border-radius: 10px;
}


h1 {
    color: #e7e7e7;
    font-size: 2.2rem;
    margin-bottom: 25px;
}

.button-list {
    display: flex;
    flex-direction: column;
    gap: 12px; 
}


.btn {
    border: none;
    border-radius: 8px;
    padding: 18px;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    text-align: left; 
    padding-left: 25px;
    transition: transform 0.2s, opacity 0.2s;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.purple {
    background: linear-gradient(to right, #d6c319, #e90b0b);
}

.pink {
    background: linear-gradient(to right, #b2b6ab, #c56674);
}